.bodylogin{
background-image: url("../img/3d-fondo-de-pantalla-personalizado-mural-retro-estilo-de-font-b-fitness-b-font-de-fondo.jpg");
}
.divimg{
background-image: url("../img/3d-fondo-de-pantalla-personalizado-mural-retro-estilo-de-font-b-fitness-b-font-de-fondo.jpg");
}
.header{
opacity: 0.8;
}
.opciones{
background-color: gray;
width: 24pc;
border: 1px solid darkgray
}
div {
display: block;
}
.submenu {
position: absolute;
text-align: center;
display: flex;
left: 7pc;
}
.a{
color: black;
text-decoration: none;
}
.img{
opacity: 0.8;
position: absolute;
height: 75vh !important;
width: 75vh !important;
}
.radio-inline{
font: oblique bold 120% cursive;}
.help-block{
color:black;
}
.form-control{
margin: 10px;
font-size: 15px;
height: 34px;
background-color: #fdfdfd;
}
.wrapper {
margin-top: 80px;
margin-bottom: 80px;
}
.form-signin {
max-width: 380px;
padding: 104px 35px 45px;
margin: 0 auto;
.form-signin-heading,
.checkbox {
margin-bottom: 30px;
}
.checkbox {
font-weight: normal;
}
.form-control {
position: relative;
font-size: 16px;
height: auto;
padding: 10px;
}
}
input[type="text"] {
margin-bottom: 34px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
input[type="password"] {
margin-bottom: 20px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}
.form-signin-heading{
font: oblique bold 200% cursive;
color: black;
}
#tex{
font-family: 'Aclonica';font-size: 22px;
width: 75vh !important;
}
.section{
font: 700 49px/51px playfairdisplay-font,'Times New Roman',Times,serif;
margin: 10px 0 50px 0;
text-align: center;
letter-spacing: -1px;
}
.subtitle{
font: 400 14px/14px roboto-font,Arial,Helvetica,sans-serif;
margin: 0 auto 40px;
padding: 2px 3px;
display: contents;
width: auto;
background: #1a1a1a;
color: #FFF;
text-transform: uppercase;
text-align: center;
-webkit-border-radius: 1px;
border-radius: 16px;
}
.imagen{
background-image: url("../img/FONDO.jpg");
background-color: white;
color: red;
position: absolute;
width: 83pc;
left: 13px;
height: 1029px;
top: 72px;
background-repeat: no-repeat;
}
p {
margin: 69pc 259px;
background-color: #e8ffe8;
}
.infogeneral{
font: 400 14px/14px roboto-font,Arial,Helvetica,sans-serif;
margin: -132px auto 29px;
padding: -19px 13px;
display: contents;
width: 588px;
background: #de4747;
color: #FFF;
text-transform: uppercase;
text-align: center;
-webkit-border-radius: 31px;
border-radius: 36px;
position: absolute;
top: 80pc;
}
.img_div{
height: 75vh !important;
width: 75vh !important;
}
img{
background-repeat: no-repeat;
}
#sidebar-wrapper {
top: 52px;
left: -200px;
width: 200px;
background-color: #646567;
color: white;
position: fixed;
height: 50%;
z-index: 1;
}
.sidebar-nav {
position: absolute;
top: 0;
margin: 0;
padding: 0;
width: 250px;
list-style: none;
}
.sidebar-nav li {
text-indent: 20px;
line-height: 50px;
}
.sidebar-nav li a {
color: white;
display: block;
text-decoration: none;
}
.sidebar-nav li a:hover {
background: rgba(255,255,255,0.25);
color: white;
text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
text-decoration: none;
}
#sidebar-wrapper.sidebar-toggle {
transition: all 0.3s ease-out;
margin-left: -177px;
margin: 86px;
top: 71px;}
@media (min-width: 768px) {
#sidebar-wrapper.sidebar-toggle {
transition: 0s;
left: -57px;
}
}
.navegatem {
background-color: #332d2d;
width: 28pc;
border: 1px solid darkgray;
}
.header {
background-color: #278029;
color: white;
text-align: center;
opacity: 0.5;
}
.subMenu {
background: darkslategray;
text-align: center;
display: flex;
position: absolute;
top: 87px;
left: 12px;
}
.infogeneral{
font: 400 14px/14px roboto-font,Arial,Helvetica,sans-serif;
margin: -63px auto 29px;
padding: 5px 154px;
display: contents;
width: auto;
background: #a52e2e;
color: #FFF;
text-transform: uppercase;
text-align: center;
-webkit-border-radius: 5px;
border-radius: 21px;
}
p {
margin: 69px 71px;
position: absolute;
top: 79pc;
}
.social{
position: fixed;
left: 0;
top: 200px;
z-index: 2000;
}
.social ul{
list-style: none;
}
.social ul li a{
display: inline-block;
color: #fff;
background: #000;
padding: 10px 15px;
text-decoration: none;
-webkit-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}
.social ul li .icon-facebook{
background: #3b5998 ;
}
.social ul li .icon-twitter{
background: #00abf0;
}
.social ul li a:hover{
padding: 10px 30px;
background: #000;
}
.carousel {
position: absolute;
top: 1468px;
left: 8	%;
}
.infoFinal{
background: #000000;
padding: 20px 0 40px;
color: #fff;
margin-top: 1977px	;
}
.nutricion{
font-family: 'Roboto',sans-serif;
font-size: 14px;
line-height: 1;
margin-top: 0;
border-bottom: 2px solid #222;
border-bottom-left-radius: 12px;
position: absolute;
top: 1761px;
left: 833px;
}
.block-tittle span{
border-color: #185990;
line-height: 17px;
display: inline-block;
padding: 7px 12px 4px;
background-color: #222;
color: #fff;
}